body {
  background: linear-gradient(8deg, rgba(94,104,156,1) 0%, rgba(37,50,116,1) 65%); 
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  flex: stretch;
  align-items: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

button {
  transition: all .005s;
}

button:hover {
  transform: scale(1.01);
}

button:active {
  transform: translateY(5px) scale(.9);
}